.banner {
  background-size: cover;
  background-image: url("../img/banner_1.jpg");
  height: 100vh;
&.item_2{
  background-image: url("../img/banner_2.jpg");
}
&.item_3{
  background-image: url("../img/banner_3.jpg");
}
&.item_4{
  background-image: url("../img/banner_4.jpg");
}
}