.banner_{
  background-size: cover;
  background-image: url("../img/banner_1.jpg");
  height: 100%;
&2{
  background-image: url("../img/banner_2.jpg");
}
&3{
  background-image: url("../img/banner_3.jpg");
}
&4{
  background-image: url("../img/banner_4.jpg");
}
}